.top_movies {
  width: 85%;
  margin: 0 auto;
  padding: 50px 0;

  h1 {
    color: #000;
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .top_movies_content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-top: 20px;
    .movies_card {
      img {
        width: fit-content;
        height: fit-content;
      }
      .movies_details {
        h1 {
          color: var(--gray-900, #111827);
          font-family: DM Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin: 10px 0;
        }
        p {
          color: var(--gray-400, #9ca3af);
          font-family: DM Sans;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }
}

// Responsive starts here
/* Small Screens */
@media (max-width: 991px) {
  .top_movies{
    .top_movies_content{
      grid-template-columns: repeat(3,1fr);
    }
  }
}

@media (max-width: 480px) {
  .top_movies{
    .top_movies_content{
      grid-template-columns: 1fr;
    }
  }
}